@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

:root {
  --primary-color: #F15A24; /* Laranja Senac aproximado */
  --secondary-color: #005A9C; /* Azul Senac aproximado */
  --text-color: #FFFFFF;
  --bg-overlay: rgba(0, 0, 0, 0.7); /* Opacidade para o fundo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  color: var(--text-color);
  background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url('/logomobile.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
